<div class="container">
<h2><%= "How is the cocktail's name?" %></h2>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Back to overview", cocktails_path, class: "btn btn-primary" %>
<% end %>
</div>
