<div class="container">
<h2><%= "Create a new cocktail!" %></h2>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add cocktail", class: "btn btn-primary" %>
  <%= link_to "Back to overview", cocktails_path, class: "btn btn-primary" %>
<% end %>
</div>
