<div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "btn btn-primary btn-show" %>
        <%= link_to "Back to overview", cocktails_path, class: "btn btn-primary btn-show" %>
      </div>
    </div>
  <div class="row">
    <div class="cocktail-info">
      <h2><%= @cocktail.name %></h2>
        <% @cocktail.doses.each do |dose| %>
          <p><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "Delete", dose_path(dose), method: :delete %></p>
        <% end %>
    </div>
  </div>


  <div class="row">
  <p><%= "Ingredient:" %></p>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient, label: false, placeholder: "ingredient", :wrapper_html => { :class => 'col-xs-6 ingredient-dropdown' } %>
      <%= f.input :description, label: false, placeholder: "description", :wrapper_html => { :class => 'col-xs-3' } %>
      <%= f.button :submit, class: "btn btn-primary col-xs-3" %>
    <% end %>
  </div>
</div>
