<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="navbar">
      <%= link_to root_path, class: "cocktail-brand" do %>
      <%= image_tag "cocktail-logo-schwarz.png" %>
      <% end %>
      <h1>Cocktails of Last Night</h1>
    </div>

    <!-- <div class="home-page-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "cocktail-banner" %>');">
    </div> -->
      <%= yield %>
  </body>
</html>
